.CodeMirror-gutter {
  background-image: url("http://csspractice.wikidot.com/local--files/start/pattern2");
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.cm-s-starburst .cm-keyword {color: #b66dff;}
.cm-s-starburst .cm-atom {color: #fc556c;}
.cm-s-starburst .cm-number {color: #826baa;}
.cm-s-starburst .cm-def {color: #f20095;}
.cm-s-starburst .cm-variable,
.cm-s-starburst .cm-punctuation,
.cm-s-starburst .cm-property,
.cm-s-starburst .cm-operator {color: #a5ed65}
.cm-s-starburst .cm-variable-2 {color: #0055ff;}
.cm-s-starburst .cm-variable-3, .cm-s-starburst .cm-type {color: #085;}
.cm-s-starburst .cm-comment {color: #aaa;}
.cm-s-starburst .cm-string {color: #63b5dc;}
.cm-s-starburst .cm-string-2 {color: #f50;}
.cm-s-starburst .cm-meta {color: #555;}
.cm-s-starburst .cm-qualifier {color: #555;}
.cm-s-starburst .cm-builtin {color: #8e38ff;}
.cm-s-starburst .cm-bracket {color: #ff5656;}
.cm-s-starburst .cm-tag {color: #ff5656;}
.cm-s-starburst .cm-attribute {color: #0072ff;}
.cm-s-starburst .cm-hr {color: #999;}
.cm-s-starburst .cm-link {color: #00c;}
.cm-s-starburst .cm-string-error {color: #e00000;}
.cm-s-starburst .cm-error {color: #f00;}
